<div class="dialog-header">
    <div>
        <h3>Check Out</h3>
    </div>

    <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="dialog-body">

    <div class="two-cols">
        <div class="view-field">
            <span class="label">Name</span>
            <span class="value">Mukesh Kumar</span>
        </div>

        <div class="view-field">
            <span class="label">Room Number</span>
            <span class="value">101</span>
        </div>
    </div>
    <div class="two-cols">
        <div class="view-field">
            <span class="label">Checkin Date</span>
            <span class="value">22/12/2025</span>
        </div>

        <div class="view-field">
            <span class="label">Checkout Date</span>
            <span class="value">22/12/2025</span>
        </div>
    </div>
    <div class="two-cols">
        <div class="view-field">
            <span class="label">Amount Paid</span>
            <span class="value">1000</span>
        </div>

        <div class="view-field">
            <span class="label">Remaining Amount</span>
            <span class="value">500</span>
        </div>
    </div>
    <div class="two-cols full">
        <mat-form-field appearance="outline">
            <mat-label>Amount</mat-label>
            <input matInput type="number" [(ngModel)]="amount" name="amount" required>
        </mat-form-field>
    </div>

</div>
<div class="dialog-footer">
    <button mat-button (click)="close()">Cancel</button>
    <button class="custom-btn btn-secondary mar-lft-10" (click)="checkout()">
        Checkout
    </button>
</div>