.card {
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    margin-bottom: 5px;
    border: 1px solid #deebfd;
    box-shadow: 1px 1px 12px #dadee8;
    padding: 15px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 12px;
}

.info p {
    margin: 0;
    font-size: 14px;
    color: gray;
}

.info h2 {
    margin: 0;
    font-size: 18px;
}

.progress-bar {
    height: 6px;
    background: #eee;
    border-radius: 3px;
    margin-top: 12px;
}

.progress {
    height: 6px;
    border-radius: 3px;
}
